@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #222;
    color: #f1f1f1;
}
main h2
{
    color: white;
}
h2
{
    color: steelblue;
}

p.impress
{
    display: none;
}

main p
{
    width: 50%;
    margin: 20px auto;
}